@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

@font-face {
  font-family: "Amulya-Light";
  src: url("../fonts/Amulya-Light.woff2") format("woff2"),
    url("../fonts/Amulya-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Amulya-Medium";
  src: url("../fonts/Amulya-Medium.woff2") format("woff2"),
    url("../fonts/Amulya-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Amulya-Bold";
  src: url("../fonts/Amulya-Bold.woff2") format("woff2"),
    url("../fonts/Amulya-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Semibold";
  src: url("../fonts/Melodrama-Semibold.woff2") format("woff2"),
    url("../fonts/Melodrama-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Bold";
  src: url("../fonts/Melodrama-Bold.woff2") format("woff2"),
    url("../fonts/Melodrama-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

html {
  background-color: #cec2e0;
}

body {
  color: white;
  font-family: "Amulya-Medium";
  font-size: 30px;
  // padding: 130px 0;
  line-height: 42px;
}

header {
  background-image: url(../img/background-header.jpeg);
  background-size: cover;
  background-position: center;
  height: 758px;
  // display: none;
}

// header:hover {
//   display: none;
// }

h1 {
  position: relative;
  left: 15%;
  top: 25%;
}

h1 img {
  height: 300px;
}

h2 {
  font-family: "Melodrama-Bold";
  font-size: 100px;
  margin: 200px 0 100px;
  text-align: center;
}

section {
  margin-bottom: 140px;
}

.logo-presentation {
  height: 240px;
  padding: 20px;
  float: right;
}

.illustration-menu-1 img {
  height: 119px;
  width: auto;
}
.illustration-menu-2 img {
  height: 145px;
  width: auto;
}

.illustration-menu {
  text-align: center;
}

.tag-menu {
  font-family: "Melodrama-Bold";
  font-size: 36px;
  margin-top: 25px;
}

.menu-1 {
  background-image: url(../img/viennoiseries.jpeg);
}
