@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

@font-face {
  font-family: "Amulya-Light";
  src: url("../fonts/Amulya-Light.woff2") format("woff2"),
    url("../fonts/Amulya-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Amulya-Medium";
  src: url("../fonts/Amulya-Medium.woff2") format("woff2"),
    url("../fonts/Amulya-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Amulya-Bold";
  src: url("../fonts/Amulya-Bold.woff2") format("woff2"),
    url("../fonts/Amulya-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Semibold";
  src: url("../fonts/Melodrama-Semibold.woff2") format("woff2"),
    url("../fonts/Melodrama-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Bold";
  src: url("../fonts/Melodrama-Bold.woff2") format("woff2"),
    url("../fonts/Melodrama-Bold.woff") format("woff");
}

@font-face {
  font-family: "Awesome-Brands-400";
  src: url("../fonts/Font\ Awesome\ 6\ Brands-Regular-400.woff2")
      format("woff2"),
    url("../fonts/Font\ Awesome\ 6\ Brands-Regular-400.woff") format("woff");
}

@font-face {
  font-family: "Awesome-Solid-900";
  src: url("../fonts/Font\ Awesome\ 6\ Free-Solid-900.woff2") format("woff2"),
    url("../fonts/Font\ Awesome\ 6\ Free-Solid-900.woff") format("woff");
}

html {
  background-color: #cec2e0;
}

body {
  color: white;
  font-family: "Amulya-Medium";
  font-size: 30px;
  // padding: 130px 0;
  line-height: 42px;
}

header {
  background-image: url(../img/background-header.jpeg);
  background-size: cover;
  background-position: center;
  height: 758px;
  // display: none;
}

footer {
  margin-bottom: 120px;
}

// header:hover {
//   display: none;
// }

h1 {
  position: relative;
  left: 15%;
  top: 25%;
}

h1 img {
  height: 300px;
}

h2 {
  font-family: "Melodrama-Bold";
  font-size: 100px;
  line-height: 60px;
  margin: 200px 0 100px;
  text-align: center;
}

h3 {
  font-family: "Melodrama-Bold";
  font-size: 65px;
  text-align: center;
  margin: 50px 0 95px;
}

h4 {
  font-family: "Melodrama-Bold";
  font-size: 45px;
  margin-bottom: 40px;
}

section {
  margin-bottom: 140px;
}

hr {
  border: 0.5px solid white;
}

footer a {
  text-decoration: none;
}

.logo-presentation {
  height: 240px;
  padding: 20px;
  float: right;
}

.illustration-menu-1 img {
  height: 119px;
  width: auto;
}
.illustration-menu-2 img {
  height: 145px;
  width: auto;
}

.illustration-menu {
  text-align: center;
}

.tag-menu {
  font-family: "Melodrama-Bold";
  font-size: 36px;
  margin-top: 25px;
}

.menu-1 {
  background-image: url(../img/smoothies.png);
  background-size: cover;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
  margin-bottom: 170px;
}

.products li {
  list-style-type: none;
}

.menu-2 {
  background-image: url(../img/viennoiseries.jpeg);
  background-size: cover;
}

.viennoiserie {
  display: flex;
  justify-content: space-between;
  font-family: "Amulya-Bold";
  font-weight: 700;
  margin: 2% 0;
  border-bottom: 1px solid white;
}

em {
  font-family: "Amulya-Light";
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
}

.price {
  text-align: right;
}

.evenements img {
  height: 620px;
  width: 100%;
}

.evenements p {
  font-size: 18px;
  line-height: 25px;
}

.evenements h4 {
  margin: 25px 0 40px;
  text-align: center;
}
.evenements-text-container {
  position: relative;
}

.evenements-text {
  background-color: #00000056;
  padding: 20px;
  margin: 20px;
  position: absolute;
  top: -600px;
}

.icon-brand {
  font-family: "Awesome-Brands-400";
}

.icon {
  font-family: "Awesome-Solid-900";
}

@media (max-width: 992px) {
  h2 {
    font-size: 60px;
  }
}
